@if(flashMessage('notification'))
	<div class="alert alert-{{ flashMessage('notification.type') }}">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<i class="material-icons">close</i>
	    </button>
	    {{ flashMessage('notification.message') }}
	  </div>
@endif